---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import { getNewss } from '../library/microcms'
const response = await getNewss({ fields: ["id", "title", "image", "tag", "publishedAt", "end", "name", "text"] })

import NewsList from '../components/NewsList.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
  title='トップ'
  headerTitle='トップ'
 >
 <div class="contents">
	<section class="box ai_box">
		<!-- <h1 style="margin-top: 32px;">Gemini APIに質問する</h1>
		<div>
			<input style="width: 40%;" id="question" type="text" placeholder="質問を入力" />
			<button id="submit" type="submit">送信</button>
		</div>
		<div id="answer" style="padding: 24px 0;"></div> -->
		<!-- <h3 class="section_title">
				AIからの提案
			</h3> -->
		<div class="ai_suggetions">
			<div class="ai_suggetion">
				<div class="ai_suggetion_label_wrapper">
					<svg width="20" height="20" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M9.1071 5.948C9.7051 4.198 12.1231 4.145 12.8321 5.789L12.8921 5.949L13.6991 8.309C13.884 8.85023 14.1829 9.34551 14.5755 9.76142C14.9682 10.1773 15.4454 10.5042 15.9751 10.72L16.1921 10.801L18.5521 11.607C20.3021 12.205 20.3551 14.623 18.7121 15.332L18.5521 15.392L16.1921 16.199C15.6507 16.3838 15.1552 16.6826 14.7391 17.0753C14.323 17.4679 13.996 17.9452 13.7801 18.475L13.6991 18.691L12.8931 21.052C12.2951 22.802 9.8771 22.855 9.1691 21.212L9.1071 21.052L8.3011 18.692C8.11628 18.1506 7.81748 17.6551 7.42485 17.239C7.03221 16.8229 6.5549 16.4959 6.0251 16.28L5.8091 16.199L3.4491 15.393C1.6981 14.795 1.6451 12.377 3.2891 11.669L3.4491 11.607L5.8091 10.801C6.35034 10.6161 6.84562 10.3172 7.26153 9.92457C7.67744 9.53195 8.00432 9.05469 8.2201 8.525L8.3011 8.309L9.1071 5.948ZM11.0001 6.594L10.1941 8.954C9.9125 9.7793 9.45437 10.5333 8.85164 11.1635C8.24891 11.7937 7.51605 12.2849 6.7041 12.603L6.4541 12.694L4.0941 13.5L6.4541 14.306C7.27941 14.5876 8.03341 15.0457 8.6636 15.6485C9.29379 16.2512 9.78503 16.9841 10.1031 17.796L10.1941 18.046L11.0001 20.406L11.8061 18.046C12.0877 17.2207 12.5458 16.4667 13.1486 15.8365C13.7513 15.2063 14.4842 14.7151 15.2961 14.397L15.5461 14.307L17.9061 13.5L15.5461 12.694C14.7208 12.4124 13.9668 11.9543 13.3366 11.3515C12.7064 10.7488 12.2152 10.0159 11.8971 9.204L11.8071 8.954L11.0001 6.594ZM19.0001 2.5C19.1872 2.5 19.3705 2.55248 19.5293 2.65147C19.688 2.75046 19.8158 2.892 19.8981 3.06L19.9461 3.177L20.2961 4.203L21.3231 4.553C21.5106 4.6167 21.6749 4.73462 21.7953 4.89182C21.9157 5.04902 21.9867 5.23842 21.9994 5.43602C22.012 5.63362 21.9657 5.83053 21.8663 6.00179C21.7669 6.17304 21.6189 6.31094 21.4411 6.398L21.3231 6.446L20.2971 6.796L19.9471 7.823C19.8833 8.01043 19.7653 8.1747 19.608 8.29499C19.4508 8.41529 19.2613 8.48619 19.0637 8.49872C18.8662 8.51125 18.6693 8.46484 18.4981 8.36538C18.3269 8.26591 18.1891 8.11787 18.1021 7.94L18.0541 7.823L17.7041 6.797L16.6771 6.447C16.4896 6.3833 16.3253 6.26538 16.2049 6.10819C16.0845 5.95099 16.0135 5.76158 16.0008 5.56398C15.9882 5.36638 16.0345 5.16947 16.1339 4.99821C16.2333 4.82696 16.3813 4.68906 16.5591 4.602L16.6771 4.554L17.7031 4.204L18.0531 3.177C18.1205 2.97943 18.2481 2.80791 18.4179 2.6865C18.5878 2.56509 18.7913 2.49987 19.0001 2.5Z" fill="#F977FF"/>
					</svg>
					<p class="ai_suggetion_label">課題の締め切りが近づいています</p>
				</div>
				<div class="ai_suggetion_cards">
					<a href="/" class="ai_suggetion_card">
						<div class="ai_suggetion_card_content">
							<p class="ai_suggetion_card_label">創造工学デザイン論</p>
							<h4 class="ai_suggetion_card_title">第3回授業のレポートを書いてください。第3回授業のレポートを書いてください。</h4>
							<p class="ai_suggetion_card_limit">
								<span>2024-10-13</span>
								<span>23:59</span>
								<span>まで</span>
							</p>
						</div>
						<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.3534 7.64673C12.4465 7.74073 12.4988 7.86772 12.4988 8.00006C12.4988 8.1324 12.4465 8.25939 12.3534 8.35339L9.02004 11.6867C8.97427 11.7359 8.91907 11.7753 8.85773 11.8026C8.7964 11.8299 8.73019 11.8446 8.66305 11.8458C8.59592 11.847 8.52923 11.8346 8.46698 11.8095C8.40472 11.7843 8.34816 11.7469 8.30068 11.6994C8.2532 11.6519 8.21577 11.5954 8.19063 11.5331C8.16548 11.4709 8.15313 11.4042 8.15431 11.337C8.1555 11.2699 8.17019 11.2037 8.19752 11.1424C8.22485 11.081 8.26425 11.0258 8.31337 10.9801L10.7934 8.50006H4.00004C3.86743 8.50006 3.74025 8.44738 3.64649 8.35361C3.55272 8.25985 3.50004 8.13267 3.50004 8.00006C3.50004 7.86745 3.55272 7.74028 3.64649 7.64651C3.74025 7.55274 3.86743 7.50006 4.00004 7.50006H10.7934L8.31337 5.02006C8.22505 4.92528 8.17697 4.79991 8.17926 4.67038C8.18154 4.54084 8.23402 4.41725 8.32563 4.32565C8.41723 4.23404 8.54082 4.18156 8.67036 4.17928C8.79989 4.17699 8.92526 4.22507 9.02004 4.31339L12.3534 7.64673Z" fill="#252528"/>
						</svg>													
					</a>
					<a href="/" class="ai_suggetion_card">
						<div class="ai_suggetion_card_content">
							<p class="ai_suggetion_card_label">英語表現Ⅱ</p>
							<h4 class="ai_suggetion_card_title">中間レポート</h4>
							<p class="ai_suggetion_card_limit">
								<span>2024-10-13</span>
								<span>23:59</span>
								<span>まで</span>
							</p>
						</div>
						<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.3534 7.64673C12.4465 7.74073 12.4988 7.86772 12.4988 8.00006C12.4988 8.1324 12.4465 8.25939 12.3534 8.35339L9.02004 11.6867C8.97427 11.7359 8.91907 11.7753 8.85773 11.8026C8.7964 11.8299 8.73019 11.8446 8.66305 11.8458C8.59592 11.847 8.52923 11.8346 8.46698 11.8095C8.40472 11.7843 8.34816 11.7469 8.30068 11.6994C8.2532 11.6519 8.21577 11.5954 8.19063 11.5331C8.16548 11.4709 8.15313 11.4042 8.15431 11.337C8.1555 11.2699 8.17019 11.2037 8.19752 11.1424C8.22485 11.081 8.26425 11.0258 8.31337 10.9801L10.7934 8.50006H4.00004C3.86743 8.50006 3.74025 8.44738 3.64649 8.35361C3.55272 8.25985 3.50004 8.13267 3.50004 8.00006C3.50004 7.86745 3.55272 7.74028 3.64649 7.64651C3.74025 7.55274 3.86743 7.50006 4.00004 7.50006H10.7934L8.31337 5.02006C8.22505 4.92528 8.17697 4.79991 8.17926 4.67038C8.18154 4.54084 8.23402 4.41725 8.32563 4.32565C8.41723 4.23404 8.54082 4.18156 8.67036 4.17928C8.79989 4.17699 8.92526 4.22507 9.02004 4.31339L12.3534 7.64673Z" fill="#252528"/>
						</svg>							
					</a>
				</div>
			</div>
			<div class="ai_suggetion">
				<div class="ai_suggetion_label_wrapper">
					<svg width="20" height="20" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M9.1071 5.948C9.7051 4.198 12.1231 4.145 12.8321 5.789L12.8921 5.949L13.6991 8.309C13.884 8.85023 14.1829 9.34551 14.5755 9.76142C14.9682 10.1773 15.4454 10.5042 15.9751 10.72L16.1921 10.801L18.5521 11.607C20.3021 12.205 20.3551 14.623 18.7121 15.332L18.5521 15.392L16.1921 16.199C15.6507 16.3838 15.1552 16.6826 14.7391 17.0753C14.323 17.4679 13.996 17.9452 13.7801 18.475L13.6991 18.691L12.8931 21.052C12.2951 22.802 9.8771 22.855 9.1691 21.212L9.1071 21.052L8.3011 18.692C8.11628 18.1506 7.81748 17.6551 7.42485 17.239C7.03221 16.8229 6.5549 16.4959 6.0251 16.28L5.8091 16.199L3.4491 15.393C1.6981 14.795 1.6451 12.377 3.2891 11.669L3.4491 11.607L5.8091 10.801C6.35034 10.6161 6.84562 10.3172 7.26153 9.92457C7.67744 9.53195 8.00432 9.05469 8.2201 8.525L8.3011 8.309L9.1071 5.948ZM11.0001 6.594L10.1941 8.954C9.9125 9.7793 9.45437 10.5333 8.85164 11.1635C8.24891 11.7937 7.51605 12.2849 6.7041 12.603L6.4541 12.694L4.0941 13.5L6.4541 14.306C7.27941 14.5876 8.03341 15.0457 8.6636 15.6485C9.29379 16.2512 9.78503 16.9841 10.1031 17.796L10.1941 18.046L11.0001 20.406L11.8061 18.046C12.0877 17.2207 12.5458 16.4667 13.1486 15.8365C13.7513 15.2063 14.4842 14.7151 15.2961 14.397L15.5461 14.307L17.9061 13.5L15.5461 12.694C14.7208 12.4124 13.9668 11.9543 13.3366 11.3515C12.7064 10.7488 12.2152 10.0159 11.8971 9.204L11.8071 8.954L11.0001 6.594ZM19.0001 2.5C19.1872 2.5 19.3705 2.55248 19.5293 2.65147C19.688 2.75046 19.8158 2.892 19.8981 3.06L19.9461 3.177L20.2961 4.203L21.3231 4.553C21.5106 4.6167 21.6749 4.73462 21.7953 4.89182C21.9157 5.04902 21.9867 5.23842 21.9994 5.43602C22.012 5.63362 21.9657 5.83053 21.8663 6.00179C21.7669 6.17304 21.6189 6.31094 21.4411 6.398L21.3231 6.446L20.2971 6.796L19.9471 7.823C19.8833 8.01043 19.7653 8.1747 19.608 8.29499C19.4508 8.41529 19.2613 8.48619 19.0637 8.49872C18.8662 8.51125 18.6693 8.46484 18.4981 8.36538C18.3269 8.26591 18.1891 8.11787 18.1021 7.94L18.0541 7.823L17.7041 6.797L16.6771 6.447C16.4896 6.3833 16.3253 6.26538 16.2049 6.10819C16.0845 5.95099 16.0135 5.76158 16.0008 5.56398C15.9882 5.36638 16.0345 5.16947 16.1339 4.99821C16.2333 4.82696 16.3813 4.68906 16.5591 4.602L16.6771 4.554L17.7031 4.204L18.0531 3.177C18.1205 2.97943 18.2481 2.80791 18.4179 2.6865C18.5878 2.56509 18.7913 2.49987 19.0001 2.5Z" fill="#F977FF"/>
					</svg>
					<p class="ai_suggetion_label">授業の重要なお知らせです</p>
				</div>
				<div class="ai_suggetion_cards">
					<a href="/" class="ai_suggetion_card">
						<div class="ai_suggetion_card_content">
							<p class="ai_suggetion_card_label">創造工学デザイン論</p>
							<h4 class="ai_suggetion_card_title">緊急事態宣言の発令により、来週の授業をオンラインとします。</h4>
							<p class="ai_suggetion_card_limit">
								<span>2024-10-13</span>
							</p>
						</div>
						<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.3534 7.64673C12.4465 7.74073 12.4988 7.86772 12.4988 8.00006C12.4988 8.1324 12.4465 8.25939 12.3534 8.35339L9.02004 11.6867C8.97427 11.7359 8.91907 11.7753 8.85773 11.8026C8.7964 11.8299 8.73019 11.8446 8.66305 11.8458C8.59592 11.847 8.52923 11.8346 8.46698 11.8095C8.40472 11.7843 8.34816 11.7469 8.30068 11.6994C8.2532 11.6519 8.21577 11.5954 8.19063 11.5331C8.16548 11.4709 8.15313 11.4042 8.15431 11.337C8.1555 11.2699 8.17019 11.2037 8.19752 11.1424C8.22485 11.081 8.26425 11.0258 8.31337 10.9801L10.7934 8.50006H4.00004C3.86743 8.50006 3.74025 8.44738 3.64649 8.35361C3.55272 8.25985 3.50004 8.13267 3.50004 8.00006C3.50004 7.86745 3.55272 7.74028 3.64649 7.64651C3.74025 7.55274 3.86743 7.50006 4.00004 7.50006H10.7934L8.31337 5.02006C8.22505 4.92528 8.17697 4.79991 8.17926 4.67038C8.18154 4.54084 8.23402 4.41725 8.32563 4.32565C8.41723 4.23404 8.54082 4.18156 8.67036 4.17928C8.79989 4.17699 8.92526 4.22507 9.02004 4.31339L12.3534 7.64673Z" fill="#252528"/>
						</svg>							
					</a>
					<a href="/" class="ai_suggetion_card">
						<div class="ai_suggetion_card_content">
							<p class="ai_suggetion_card_label">物理学演習</p>
							<h4 class="ai_suggetion_card_title">中間テスト追試のお知らせ</h4>
							<p class="ai_suggetion_card_limit">
								<span>2024-10-13</span>
							</p>
						</div>
						<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.3534 7.64673C12.4465 7.74073 12.4988 7.86772 12.4988 8.00006C12.4988 8.1324 12.4465 8.25939 12.3534 8.35339L9.02004 11.6867C8.97427 11.7359 8.91907 11.7753 8.85773 11.8026C8.7964 11.8299 8.73019 11.8446 8.66305 11.8458C8.59592 11.847 8.52923 11.8346 8.46698 11.8095C8.40472 11.7843 8.34816 11.7469 8.30068 11.6994C8.2532 11.6519 8.21577 11.5954 8.19063 11.5331C8.16548 11.4709 8.15313 11.4042 8.15431 11.337C8.1555 11.2699 8.17019 11.2037 8.19752 11.1424C8.22485 11.081 8.26425 11.0258 8.31337 10.9801L10.7934 8.50006H4.00004C3.86743 8.50006 3.74025 8.44738 3.64649 8.35361C3.55272 8.25985 3.50004 8.13267 3.50004 8.00006C3.50004 7.86745 3.55272 7.74028 3.64649 7.64651C3.74025 7.55274 3.86743 7.50006 4.00004 7.50006H10.7934L8.31337 5.02006C8.22505 4.92528 8.17697 4.79991 8.17926 4.67038C8.18154 4.54084 8.23402 4.41725 8.32563 4.32565C8.41723 4.23404 8.54082 4.18156 8.67036 4.17928C8.79989 4.17699 8.92526 4.22507 9.02004 4.31339L12.3534 7.64673Z" fill="#252528"/>
						</svg>						
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="box">
		<h3 class="section_title">
			時間割
		</h3>
		<nav class="tag">
			<ul class="tag_list">
				<li class="tag_item">
					<button class="tag_btn active" id="tag_item">月曜</button>
				</li>
				<li class="tag_item">
					<button class="tag_btn" id="tag_item">火曜</button>
				</li>
				<li class="tag_item">
					<button class="tag_btn" id="tag_item">水曜</button>
				</li>
				<li class="tag_item">
					<button class="tag_btn" id="tag_item">木曜</button>
				</li>
				<li class="tag_item">
					<button class="tag_btn" id="tag_item">金曜</button>
				</li>
				<li class="tag_item">
					<button class="tag_btn" id="tag_item">土曜</button>
				</li>
			</ul>
		</nav>
		<div class="class_list" id="sidebar_list">
			<button class="class sidebar_item" id="sidebar_item">
				<p class="class_time">
					<span>1-4限</span>
					<span>9:00-11:00</span>
				</p>
				<div class="class_header">
					<h4 class="class_name">創造工学デザイン論</h4>
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M9.96991 7.47007C10.1105 7.32962 10.3012 7.25073 10.4999 7.25073C10.6987 7.25073 10.8893 7.32962 11.0299 7.47007L15.0299 11.4701C15.1704 11.6107 15.2492 11.8013 15.2492 12.0001C15.2492 12.1988 15.1704 12.3894 15.0299 12.5301L11.0299 16.5301C10.9612 16.6038 10.8784 16.6629 10.7864 16.7039C10.6944 16.7448 10.5951 16.7669 10.4944 16.7687C10.3937 16.7704 10.2937 16.7519 10.2003 16.7142C10.1069 16.6765 10.0221 16.6203 9.95087 16.5491C9.87965 16.4779 9.82351 16.3931 9.78579 16.2997C9.74807 16.2063 9.72954 16.1063 9.73132 16.0056C9.73309 15.9048 9.75514 15.8055 9.79613 15.7135C9.83712 15.6215 9.89622 15.5387 9.96991 15.4701L13.4399 12.0001L9.96991 8.53007C9.82946 8.38945 9.75057 8.19882 9.75057 8.00007C9.75057 7.80132 9.82946 7.6107 9.96991 7.47007Z" fill="black"/>
					</svg>
				</div>
				<p class="class_location">津田沼キャンパス4号館3002</p>
				<p class="class_teacher">千葉 工大</p>
			</button>
			<button class="class sidebar_item" id="sidebar_item">
				<p class="class_time">
					<span>1-4限</span>
					<span>9:00-11:00</span>
				</p>
				<div class="class_header">
					<h4 class="class_name">英語表現Ⅱ</h4>
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M9.96991 7.47007C10.1105 7.32962 10.3012 7.25073 10.4999 7.25073C10.6987 7.25073 10.8893 7.32962 11.0299 7.47007L15.0299 11.4701C15.1704 11.6107 15.2492 11.8013 15.2492 12.0001C15.2492 12.1988 15.1704 12.3894 15.0299 12.5301L11.0299 16.5301C10.9612 16.6038 10.8784 16.6629 10.7864 16.7039C10.6944 16.7448 10.5951 16.7669 10.4944 16.7687C10.3937 16.7704 10.2937 16.7519 10.2003 16.7142C10.1069 16.6765 10.0221 16.6203 9.95087 16.5491C9.87965 16.4779 9.82351 16.3931 9.78579 16.2997C9.74807 16.2063 9.72954 16.1063 9.73132 16.0056C9.73309 15.9048 9.75514 15.8055 9.79613 15.7135C9.83712 15.6215 9.89622 15.5387 9.96991 15.4701L13.4399 12.0001L9.96991 8.53007C9.82946 8.38945 9.75057 8.19882 9.75057 8.00007C9.75057 7.80132 9.82946 7.6107 9.96991 7.47007Z" fill="black"/>
					</svg>
				</div>
				<p class="class_location">津田沼キャンパス4号館3002</p>
				<p class="class_teacher">千葉 工大</p>
			</button>
			<button class="class sidebar_item" id="sidebar_item">
				<p class="class_time">
					<span>1-4限</span>
					<span>9:00-11:00</span>
				</p>
				<div class="class_header">
					<h4 class="class_name">物理学演習</h4>
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M9.96991 7.47007C10.1105 7.32962 10.3012 7.25073 10.4999 7.25073C10.6987 7.25073 10.8893 7.32962 11.0299 7.47007L15.0299 11.4701C15.1704 11.6107 15.2492 11.8013 15.2492 12.0001C15.2492 12.1988 15.1704 12.3894 15.0299 12.5301L11.0299 16.5301C10.9612 16.6038 10.8784 16.6629 10.7864 16.7039C10.6944 16.7448 10.5951 16.7669 10.4944 16.7687C10.3937 16.7704 10.2937 16.7519 10.2003 16.7142C10.1069 16.6765 10.0221 16.6203 9.95087 16.5491C9.87965 16.4779 9.82351 16.3931 9.78579 16.2997C9.74807 16.2063 9.72954 16.1063 9.73132 16.0056C9.73309 15.9048 9.75514 15.8055 9.79613 15.7135C9.83712 15.6215 9.89622 15.5387 9.96991 15.4701L13.4399 12.0001L9.96991 8.53007C9.82946 8.38945 9.75057 8.19882 9.75057 8.00007C9.75057 7.80132 9.82946 7.6107 9.96991 7.47007Z" fill="black"/>
					</svg>
				</div>
				<p class="class_location">津田沼キャンパス4号館3002</p>
				<p class="class_teacher">千葉 工大</p>
			</button>
			<button class="class sidebar_item" id="sidebar_item">
				<p class="class_time">
					<span>1-4限</span>
					<span>9:00-11:00</span>
				</p>
				<div class="class_header">
					<h4 class="class_name">デザイン基礎</h4>
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M9.96991 7.47007C10.1105 7.32962 10.3012 7.25073 10.4999 7.25073C10.6987 7.25073 10.8893 7.32962 11.0299 7.47007L15.0299 11.4701C15.1704 11.6107 15.2492 11.8013 15.2492 12.0001C15.2492 12.1988 15.1704 12.3894 15.0299 12.5301L11.0299 16.5301C10.9612 16.6038 10.8784 16.6629 10.7864 16.7039C10.6944 16.7448 10.5951 16.7669 10.4944 16.7687C10.3937 16.7704 10.2937 16.7519 10.2003 16.7142C10.1069 16.6765 10.0221 16.6203 9.95087 16.5491C9.87965 16.4779 9.82351 16.3931 9.78579 16.2997C9.74807 16.2063 9.72954 16.1063 9.73132 16.0056C9.73309 15.9048 9.75514 15.8055 9.79613 15.7135C9.83712 15.6215 9.89622 15.5387 9.96991 15.4701L13.4399 12.0001L9.96991 8.53007C9.82946 8.38945 9.75057 8.19882 9.75057 8.00007C9.75057 7.80132 9.82946 7.6107 9.96991 7.47007Z" fill="black"/>
					</svg>
				</div>
				<p class="class_location">津田沼キャンパス4号館3002</p>
				<p class="class_teacher">千葉 工大</p>
			</button>
			<button class="class sidebar_item" id="sidebar_item">
				<p class="class_time">
					<span>1-4限</span>
					<span>9:00-11:00</span>
				</p>
				<div class="class_header">
					<h4 class="class_name">創造工学デザイン論及び演習</h4>
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M9.96991 7.47007C10.1105 7.32962 10.3012 7.25073 10.4999 7.25073C10.6987 7.25073 10.8893 7.32962 11.0299 7.47007L15.0299 11.4701C15.1704 11.6107 15.2492 11.8013 15.2492 12.0001C15.2492 12.1988 15.1704 12.3894 15.0299 12.5301L11.0299 16.5301C10.9612 16.6038 10.8784 16.6629 10.7864 16.7039C10.6944 16.7448 10.5951 16.7669 10.4944 16.7687C10.3937 16.7704 10.2937 16.7519 10.2003 16.7142C10.1069 16.6765 10.0221 16.6203 9.95087 16.5491C9.87965 16.4779 9.82351 16.3931 9.78579 16.2997C9.74807 16.2063 9.72954 16.1063 9.73132 16.0056C9.73309 15.9048 9.75514 15.8055 9.79613 15.7135C9.83712 15.6215 9.89622 15.5387 9.96991 15.4701L13.4399 12.0001L9.96991 8.53007C9.82946 8.38945 9.75057 8.19882 9.75057 8.00007C9.75057 7.80132 9.82946 7.6107 9.96991 7.47007Z" fill="black"/>
					</svg>
				</div>
				<p class="class_location">津田沼キャンパス4号館3002</p>
				<p class="class_teacher">千葉 工大</p>
			</button>
		</div>
		<div class="section_btn_wrapper">
			<a href="/class" class="section_btn">
				<p class="section_btn_label">授業ページへ</p>
				<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M11.2251 7.10838C11.1637 7.05116 11.1144 6.98216 11.0802 6.90549C11.0461 6.82883 11.0277 6.74607 11.0262 6.66215C11.0248 6.57823 11.0402 6.49487 11.0716 6.41705C11.1031 6.33922 11.1498 6.26853 11.2092 6.20918C11.2685 6.14983 11.3392 6.10305 11.4171 6.07161C11.4949 6.04018 11.5782 6.02474 11.6622 6.02622C11.7461 6.0277 11.8288 6.04607 11.9055 6.08023C11.9822 6.11439 12.0512 6.16364 12.1084 6.22505L15.4417 9.55838C15.5588 9.67557 15.6245 9.83442 15.6245 10C15.6245 10.1657 15.5588 10.3245 15.4417 10.4417L12.1084 13.775C12.0512 13.8365 11.9822 13.8857 11.9055 13.9199C11.8288 13.954 11.7461 13.9724 11.6622 13.9739C11.5782 13.9754 11.4949 13.9599 11.4171 13.9285C11.3392 13.897 11.2685 13.8503 11.2092 13.7909C11.1498 13.7316 11.1031 13.6609 11.0716 13.583C11.0402 13.5052 11.0248 13.4219 11.0262 13.3379C11.0277 13.254 11.0461 13.1713 11.0802 13.0946C11.1144 13.0179 11.1637 12.9489 11.2251 12.8917L13.4917 10.625H5.41673C5.25097 10.625 5.092 10.5592 4.97479 10.442C4.85758 10.3248 4.79173 10.1658 4.79173 10C4.79173 9.83429 4.85758 9.67532 4.97479 9.5581C5.092 9.44089 5.25097 9.37505 5.41673 9.37505H13.4917L11.2251 7.10838Z" fill="#6161DA"/>
				</svg>				
			</a>
		</div>
	</section>
	<!-- <div class="section_slash"></div> -->
	<section class="box">
		<h3 class="section_title">
			お知らせ
		</h3>
		<NewsList />
		<div class="section_btn_wrapper">
			<a href="/news" class="section_btn">
				<p class="section_btn_label">お知らせページへ</p>
				<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M11.2251 7.10838C11.1637 7.05116 11.1144 6.98216 11.0802 6.90549C11.0461 6.82883 11.0277 6.74607 11.0262 6.66215C11.0248 6.57823 11.0402 6.49487 11.0716 6.41705C11.1031 6.33922 11.1498 6.26853 11.2092 6.20918C11.2685 6.14983 11.3392 6.10305 11.4171 6.07161C11.4949 6.04018 11.5782 6.02474 11.6622 6.02622C11.7461 6.0277 11.8288 6.04607 11.9055 6.08023C11.9822 6.11439 12.0512 6.16364 12.1084 6.22505L15.4417 9.55838C15.5588 9.67557 15.6245 9.83442 15.6245 10C15.6245 10.1657 15.5588 10.3245 15.4417 10.4417L12.1084 13.775C12.0512 13.8365 11.9822 13.8857 11.9055 13.9199C11.8288 13.954 11.7461 13.9724 11.6622 13.9739C11.5782 13.9754 11.4949 13.9599 11.4171 13.9285C11.3392 13.897 11.2685 13.8503 11.2092 13.7909C11.1498 13.7316 11.1031 13.6609 11.0716 13.583C11.0402 13.5052 11.0248 13.4219 11.0262 13.3379C11.0277 13.254 11.0461 13.1713 11.0802 13.0946C11.1144 13.0179 11.1637 12.9489 11.2251 12.8917L13.4917 10.625H5.41673C5.25097 10.625 5.092 10.5592 4.97479 10.442C4.85758 10.3248 4.79173 10.1658 4.79173 10C4.79173 9.83429 4.85758 9.67532 4.97479 9.5581C5.092 9.44089 5.25097 9.37505 5.41673 9.37505H13.4917L11.2251 7.10838Z" fill="#6161DA"/>
				</svg>				
			</a>
		</div>
	</section>
</div>
</Layout>


<style lang="scss">
	.contents{
		display: flex;
		flex-direction: column;
		padding-bottom: 80px;
	}
	
	.box{
		margin-top: 40px;

		&:first-of-type{
			margin-top: 16px;
		}

		@media (width < 1080px) {
			margin-top: 24px;
		}
	}

	.section_title_wrapper{
		display: flex;
		align-items: center;
		gap: 8px;
	}

  .section_title{
		font-size: 20px;
		font-weight: 600;
		color: #252528;

		@media (width < 1080px) {
			font-weight: 500;
			font-size: 16px;
		}
	}

	.section_btn_wrapper{
		position: relative;
		margin-top: 40px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		&::before{
			content: "";
			flex: 1;
			height: 1px;
			background-color: #dadae3;
		}
		
		&::after{
			content: "";
			flex: 1;
			height: 1px;
			background-color: #dadae3;
		}
	}

	.section_btn{
		display: flex;
		align-items: center;
		padding: 16px 24px;
		margin: 0 16px;
		gap: 16px;
		border: 1px solid #6161DA;
		border-radius: 100px;
		transition: all .3s;

		&:hover{
			background-color: #6161DA;
			border-color: #e6e6ea;
			transition: all .3s;
		}

		&_label{
			font-weight: 500;
			font-size: 14px;
			color: #6161DA;

			&:hover{
				color: #fff;
			  transition: all .3s;
		  }
		}
	}
	
	.section_slash{
		width: 100%;
		height: 1px;
		background-color: #dadae3;
		margin: 32px 0;
	}

	.ai_box{
		padding-bottom: 40px;
		border-bottom: 1px solid #dadae3;
	}

	.ai_suggetions{
		margin-top: 24px;
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	.ai_suggetion{

		&_label{
			font-size: 12px;
			font-weight: 400;
			color: #fff;

			&_wrapper{
				display: inline-flex;
				align-items: center;
				padding: 8px 16px;
			  border-radius: 100px;
			  background-color: #252528;
			  // border: 1px solid #972BF0;
				gap: 8px;
			}
		}

		&_cards{
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(300px, auto));
			gap: 8px;
			margin-top: 12px;
			padding: 0 8px;
		}

		&_card{
			padding: 16px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 16px;
			background-color: #fff;
			border: 1px solid #dadae3;
			// box-shadow: 0px 0px 24px rgba(141, 23, 219, 0.15);
			border-radius: 16px;

			&_content{
				flex: 1;
				// white-space: nowrap;       /* テキストを1行で表示 */
        overflow: hidden;          /* はみ出し部分を非表示 */
			}

			&_label{
				font-size: 12px;
				font-weight: 400;
				color: #252528;
			}

			&_title{
				margin-top: 12px;
				font-size: 14px;
				font-weight: 500;
				color: #252528;
				white-space: nowrap;       /* テキストを1行で表示 */
        overflow: hidden;          /* はみ出し部分を非表示 */
        text-overflow: ellipsis;   /* はみ出した部分を "..." に */
			}

			&_limit{
				margin-top: 8px;
				font-size: 12px;
				color: #66666d;
			}
		}
	}

	.tag{
		margin-top: 24px;
		display: flex;
		gap: 8;
		align-items: center;

		&_list{
			display: flex;
			align-items: center;
			gap: 8px;
		}

		&_item{
			font-size: 12px;
			color: #66666d;
			font-weight: 500;

			>.active{
				color: #fff;
				background-color: #252528;
			}

			@media (width < 1080px) {
			  font-size: 10px;
	    }
		}

		&_btn{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 56px;
			height: 36px;
			border-radius: 100px;

			@media (width < 1080px) {
				width: 44px;
				height: 32px;
		  }
		}
	}


  .class_list{
    margin-top: 16px;
		display: grid;
		// grid-template-columns: repeat(3, 1fr);
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    // display: flex;
		// flex-wrap: wrap;
    gap: 8px;
  }

  .class{
		// min-width: calc((100% - 16px)/3);
    padding: 16px 16px;
    border-radius: 16px;
    background-color: #fff;
    border: 1px solid #e6e6ea;

		@media (width < 1080px) {
			padding: 12px 16px;
		}

		&:hover{
			transition: all .3s;
			background-color: #f2f2f3;
		}

    &_text{
      display: flex;
      gap: 8px;
    }

    &_header{
			margin-top: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

		&_name{
			font-size: 16px;
			color: #252528;
			font-weight: 600;

			@media (width < 1080px) {
				font-size: 14px;
		  	color: #252528;
			  font-weight: 600;
		  }
		}

		&_time{
			font-size: 14px;
			font-weight: 500;
			color: #66666d;

			@media (width < 1080px) {
				font-size: 10px;
		  	color: #66666d;
			  font-weight: 500;
		  }
		}

		&_location{
			font-size: 14px;
			font-weight: 400;
			color: #66666d;
			margin-top: 12px;


			@media (width < 1080px) {
				font-size: 10px;
		  	color: #66666d;
			  font-weight: 500;
				margin-top: 8px;
		  }
		}

		&_teacher{
			font-size: 14px;
			font-weight: 400;
			color: #66666d;
			margin-top: 8px;

			@media (width < 1080px) {
				font-size: 10px;
		  	color: #66666d;
			  font-weight: 500;
				margin-top: 8px;
		  }
		}
  }

	.news_list{
		width: 100%;
		margin-top: 24px;
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.news_item{
	}

	.news_btn{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 16px 24px;
		border-radius: 16px;
		background-color: #fff;
		cursor: pointer;
		box-shadow: 0px 0px 2px rgba($color: #252528, $alpha: 0.25);
		transition: all .3s;

		&:hover{
			transition: all .3s;
			background-color: #f2f2f3;
		}
	}

	.news_left{

		&_header{
			display: flex;
			gap: 16px;
			align-items: center;
		}
	}

	.news_tag{
		font-size: 12px;
		font-weight: 500;
		color: #66666d;
	}

	.news_pubwrapper{
		font-size: 12px;
		color: #66666d;
	}

	.news_pub{

	}

	.news_title{
		font-size: 14px;
		color: #252528;
		font-weight: 500;
		margin-top: 8px;
		line-height: 1.6;
	}

	.news_text{
		display: none;
	}
	.tag_item_mouseover{
		animation: tag_item_mouseover .3s forwards;

		@keyframes tag_item_mouseover {
			0%{
				transform: rotate(0);
			}
			100%{
				transform: rotate(-15deg);
			}
		}
	}
	.tag_item_mouseleave{
		animation: tag_item_mouseleave .3s forwards;

		@keyframes tag_item_mouseleave {
			0%{
				transform: rotate(-15deg);
			}
			100%{
				transform: rotate(-0);
			}
		}
	}
</style>

<script>
	import { GoogleGenerativeAI } from "@google/generative-ai";
import universityData from "../data/university_data.json";

const API_KEY = import.meta.env.PUBLIC_GEMINI_API_KEY;

// Google Generative AIのインスタンスを作成
const genAI = new GoogleGenerativeAI(API_KEY);
const model = genAI.getGenerativeModel({ model: "gemini-1.5-flash" });

// 会話履歴を保持する配列
const conversationHistory: { question: string; answer: string }[] = [];

const qu = document.getElementById("question");
const submit = document.getElementById("submit");
const answer = document.getElementById("answer");

submit?.addEventListener("click", async () => {
  if (qu instanceof HTMLInputElement) {
    const userQuestion = qu.value; // 入力値を取得


    // JSONデータから大学情報をプロンプトに追加
    const universityContext = `
      大学名: ${universityData.university_name}
      ポータルURL: ${universityData.portal_url}
      問い合わせメール: ${universityData.contact_email}
      利用可能な機能: ${universityData.features.join(", ")}
      よくある質問: ${universityData.faq
        .map((faq) => `Q: ${faq.question}\nA: ${faq.answer}`)
        .join("\n")}
    `;

		const ai_setting = `
		  役: ${universityData.role}
			口調: ${universityData.tone}
			回答する内容: ${universityData.range}
		`;

    // 会話履歴をコンテキストに含める
    const conversationContext = conversationHistory
      .map(
        (entry, index) =>
          `Q${index + 1}: ${entry.question}\nA${index + 1}: ${entry.answer}`
      )
      .join("\n");

    // プロンプトを組み立てる
    const fullPrompt = `
      以下は大学ポータルサイトに関する情報です。この情報に基づいて、以下の質問に答えてください:
      情報:
      ${universityContext}
			${ai_setting}

      過去の会話:
      ${conversationContext}

      質問: ${userQuestion}
      答え:
    `;

		console.log(fullPrompt)

    try {
      // APIリクエスト
      const result = await model.generateContent(fullPrompt);
      const response = await result.response;
      const text = await response.text();

      // 応答を履歴に追加
      conversationHistory.push({ question: userQuestion, answer: text });

      // コンソール表示および画面更新
      console.log(text);
      if (answer) {
        answer.innerText = text;
      }
    } catch (error) {
      console.error("エラーが発生しました:", error);
      if (answer) {
        answer.innerText = "エラーが発生しました。もう一度お試しください。";
      }
    }
  }
});

  const tag_btns = document.querySelectorAll('#tag_item')
	tag_btns.forEach((tag_btn_target) => {
		tag_btn_target.addEventListener('click', () => {
			tag_btns.forEach((tag_btn_all) => {
				tag_btn_all.classList.remove('active')
			})
			tag_btn_target.classList.add('active')
		})
		tag_btn_target.addEventListener('mouseover', () => {
			tag_btn_target.classList.add('tag_item_mouseover')
			tag_btn_target.classList.remove('tag_item_mouseleave')
		})
		tag_btn_target.addEventListener('mouseleave', () => {
			tag_btn_target.classList.remove('tag_item_mouseover')
			tag_btn_target.classList.add('tag_item_mouseleave')
		})
	})

</script>
