---
import UserData from '../../components/UserData.astro';
import Layout from '../../layouts/Layout.astro';
import userData from '../../data/user_data.json'; // JSONファイルをインポート

// const userData = await fetch('../data/user_data.json').then(res => res.json());
---

<Layout
  title='マイページ'
  headerTitle='マイページ'
>
  <div class="contents">
    <div class="inner">
      <nav class="nav">
        <ul class="nav_list">
          <li class="nav_item active" id="tag_item">
            <button class="nav_btn">
              <p class="nav_btn_label">{userData.academicInfo.title}</p>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96991 7.47007C10.1105 7.32962 10.3012 7.25073 10.4999 7.25073C10.6987 7.25073 10.8893 7.32962 11.0299 7.47007L15.0299 11.4701C15.1704 11.6107 15.2492 11.8013 15.2492 12.0001C15.2492 12.1988 15.1704 12.3894 15.0299 12.5301L11.0299 16.5301C10.9612 16.6038 10.8784 16.6629 10.7864 16.7039C10.6944 16.7448 10.5951 16.7669 10.4944 16.7687C10.3937 16.7704 10.2937 16.7519 10.2003 16.7142C10.1069 16.6765 10.0221 16.6203 9.95087 16.5491C9.87965 16.4779 9.82351 16.3931 9.78579 16.2997C9.74807 16.2063 9.72954 16.1063 9.73132 16.0056C9.73309 15.9048 9.75514 15.8055 9.79613 15.7135C9.83712 15.6215 9.89622 15.5387 9.96991 15.4701L13.4399 12.0001L9.96991 8.53007C9.82946 8.38945 9.75057 8.19882 9.75057 8.00007C9.75057 7.80132 9.82946 7.6107 9.96991 7.47007Z" fill="black"/>
              </svg>              
            </button>
          </li>
          <li class="nav_item" id="tag_item">
            <button class="nav_btn">
              <p class="nav_btn_label">{userData.learningData.title}</p>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96991 7.47007C10.1105 7.32962 10.3012 7.25073 10.4999 7.25073C10.6987 7.25073 10.8893 7.32962 11.0299 7.47007L15.0299 11.4701C15.1704 11.6107 15.2492 11.8013 15.2492 12.0001C15.2492 12.1988 15.1704 12.3894 15.0299 12.5301L11.0299 16.5301C10.9612 16.6038 10.8784 16.6629 10.7864 16.7039C10.6944 16.7448 10.5951 16.7669 10.4944 16.7687C10.3937 16.7704 10.2937 16.7519 10.2003 16.7142C10.1069 16.6765 10.0221 16.6203 9.95087 16.5491C9.87965 16.4779 9.82351 16.3931 9.78579 16.2997C9.74807 16.2063 9.72954 16.1063 9.73132 16.0056C9.73309 15.9048 9.75514 15.8055 9.79613 15.7135C9.83712 15.6215 9.89622 15.5387 9.96991 15.4701L13.4399 12.0001L9.96991 8.53007C9.82946 8.38945 9.75057 8.19882 9.75057 8.00007C9.75057 7.80132 9.82946 7.6107 9.96991 7.47007Z" fill="black"/>
              </svg>              
            </button>
          </li>
          <li class="nav_item" id="tag_item">
            <button class="nav_btn">
              <p class="nav_btn_label">{userData.exams.title}</p>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96991 7.47007C10.1105 7.32962 10.3012 7.25073 10.4999 7.25073C10.6987 7.25073 10.8893 7.32962 11.0299 7.47007L15.0299 11.4701C15.1704 11.6107 15.2492 11.8013 15.2492 12.0001C15.2492 12.1988 15.1704 12.3894 15.0299 12.5301L11.0299 16.5301C10.9612 16.6038 10.8784 16.6629 10.7864 16.7039C10.6944 16.7448 10.5951 16.7669 10.4944 16.7687C10.3937 16.7704 10.2937 16.7519 10.2003 16.7142C10.1069 16.6765 10.0221 16.6203 9.95087 16.5491C9.87965 16.4779 9.82351 16.3931 9.78579 16.2997C9.74807 16.2063 9.72954 16.1063 9.73132 16.0056C9.73309 15.9048 9.75514 15.8055 9.79613 15.7135C9.83712 15.6215 9.89622 15.5387 9.96991 15.4701L13.4399 12.0001L9.96991 8.53007C9.82946 8.38945 9.75057 8.19882 9.75057 8.00007C9.75057 7.80132 9.82946 7.6107 9.96991 7.47007Z" fill="black"/>
              </svg>              
            </button>
          </li>
          <li class="nav_item" id="tag_item">
            <button class="nav_btn">
              <p class="nav_btn_label">健康診断結果</p>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96991 7.47007C10.1105 7.32962 10.3012 7.25073 10.4999 7.25073C10.6987 7.25073 10.8893 7.32962 11.0299 7.47007L15.0299 11.4701C15.1704 11.6107 15.2492 11.8013 15.2492 12.0001C15.2492 12.1988 15.1704 12.3894 15.0299 12.5301L11.0299 16.5301C10.9612 16.6038 10.8784 16.6629 10.7864 16.7039C10.6944 16.7448 10.5951 16.7669 10.4944 16.7687C10.3937 16.7704 10.2937 16.7519 10.2003 16.7142C10.1069 16.6765 10.0221 16.6203 9.95087 16.5491C9.87965 16.4779 9.82351 16.3931 9.78579 16.2997C9.74807 16.2063 9.72954 16.1063 9.73132 16.0056C9.73309 15.9048 9.75514 15.8055 9.79613 15.7135C9.83712 15.6215 9.89622 15.5387 9.96991 15.4701L13.4399 12.0001L9.96991 8.53007C9.82946 8.38945 9.75057 8.19882 9.75057 8.00007C9.75057 7.80132 9.82946 7.6107 9.96991 7.47007Z" fill="black"/>
              </svg>              
            </button>
          </li>
          <li class="nav_item" id="tag_item">
            <button class="nav_btn">
              <p class="nav_btn_label">安否確認</p>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96991 7.47007C10.1105 7.32962 10.3012 7.25073 10.4999 7.25073C10.6987 7.25073 10.8893 7.32962 11.0299 7.47007L15.0299 11.4701C15.1704 11.6107 15.2492 11.8013 15.2492 12.0001C15.2492 12.1988 15.1704 12.3894 15.0299 12.5301L11.0299 16.5301C10.9612 16.6038 10.8784 16.6629 10.7864 16.7039C10.6944 16.7448 10.5951 16.7669 10.4944 16.7687C10.3937 16.7704 10.2937 16.7519 10.2003 16.7142C10.1069 16.6765 10.0221 16.6203 9.95087 16.5491C9.87965 16.4779 9.82351 16.3931 9.78579 16.2997C9.74807 16.2063 9.72954 16.1063 9.73132 16.0056C9.73309 15.9048 9.75514 15.8055 9.79613 15.7135C9.83712 15.6215 9.89622 15.5387 9.96991 15.4701L13.4399 12.0001L9.96991 8.53007C9.82946 8.38945 9.75057 8.19882 9.75057 8.00007C9.75057 7.80132 9.82946 7.6107 9.96991 7.47007Z" fill="black"/>
              </svg>              
            </button>
          </li>
          <li class="nav_item" id="tag_item">
            <button class="nav_btn">
              <p class="nav_btn_label">テーマ</p>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96991 7.47007C10.1105 7.32962 10.3012 7.25073 10.4999 7.25073C10.6987 7.25073 10.8893 7.32962 11.0299 7.47007L15.0299 11.4701C15.1704 11.6107 15.2492 11.8013 15.2492 12.0001C15.2492 12.1988 15.1704 12.3894 15.0299 12.5301L11.0299 16.5301C10.9612 16.6038 10.8784 16.6629 10.7864 16.7039C10.6944 16.7448 10.5951 16.7669 10.4944 16.7687C10.3937 16.7704 10.2937 16.7519 10.2003 16.7142C10.1069 16.6765 10.0221 16.6203 9.95087 16.5491C9.87965 16.4779 9.82351 16.3931 9.78579 16.2997C9.74807 16.2063 9.72954 16.1063 9.73132 16.0056C9.73309 15.9048 9.75514 15.8055 9.79613 15.7135C9.83712 15.6215 9.89622 15.5387 9.96991 15.4701L13.4399 12.0001L9.96991 8.53007C9.82946 8.38945 9.75057 8.19882 9.75057 8.00007C9.75057 7.80132 9.82946 7.6107 9.96991 7.47007Z" fill="black"/>
              </svg>              
            </button>
          </li>
        </ul>
      </nav>
      <div class="data_contents">
        <UserData data={userData.academicInfo} id="academicInfo" isVisible={true} />
        <UserData data={userData.learningData} id="learningData" isVisible={false} />
        <UserData data={userData.exams} id="exams" isVisible={false} />
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  .contents{
    padding-bottom: 80px;
    min-height: 100dvh;
  }

  .inner{
    margin-top: 32px;
    display: flex;

    @media (width < 768px) {
      margin-top: 24px;
      flex-direction: column;
    }
  }

  .nav{
    width: 280px;
    position: sticky;
    top: 0px;
    height: 100dvh;
    padding: 16px 32px;
    border-right: 1px solid #dadae3;

    @media (width < 768px) {
      position: relative;
      width: 100%;
      height: auto;
      padding: 0 16px;
      border: none;
    }

    &_list{
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-top: 8px;

      >.active{
        background-color: #e6e6ea;
      }

      @media (width < 768px) {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      }
    }

    &_item{
      border-radius: 8px;

      @media (width < 768px) {

      }
    }

    &_btn{
      width: 100%;
      display: flex;
      align-items: center;
      padding: 12px 12px;
      border-radius: 8px;
      cursor: pointer;

      @media (width < 768px) {
        // width: auto;
        // flex: 1;
      }

      &_label{
        font-size: 14px;
        color: #252528;
        flex: 1;
      }
    }
  }

  .data_contents{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .dis-none{
    display: none;
  }
  .dis-block{
    display: block;
  }
</style>

<script>
  let activeData = 'academicInfo';
  
  const updateActiveData = (newData: string) => {
    // 全てのデータを非表示
    document.querySelectorAll('[id^="academicInfo"], [id^="learningData"], [id^="exams"]')
      .forEach(el => el.classList.add('dis-none'));
    
    // 選択されたデータを表示
    const targetElement = document.getElementById(newData);
    if (targetElement) {
      targetElement.classList.remove('dis-none');
    }
  };

  const tag_btns = document.querySelectorAll('#tag_item');
  tag_btns.forEach((tag_btn_target) => {
    tag_btn_target.addEventListener('click', () => {
      // アクティブクラスの更新
      tag_btns.forEach((tag_btn_all) => {
        tag_btn_all.classList.remove('active');
      });
      tag_btn_target.classList.add('active');

      // クリックされたボタンのラベルに応じてデータを切り替え
      const label = tag_btn_target.querySelector('.nav_btn_label')?.textContent?.trim();
      switch (label) {
        case '学籍情報':
          updateActiveData('academicInfo');
          break;
        case '学習データ':
          updateActiveData('learningData');
          break;
        case '試験・資格':
          updateActiveData('exams');
          break;
      }
    });
  });
</script>
