---
import Layout from '../layouts/Layout.astro';
import { getNewss } from '../library/microcms'
const response = await getNewss({ fields: ["id", "title", "image", "tag", "publishedAt", "end", "name", "text"] })
---

<ul class="news_list">
  {response.contents.map((content => 
    <li class="news_item newssidebar_item" data-news-id={content.id}>
      <button class="news_btn">
        <div class="news_left">
          <div class="news_left_header">
            <p class="news_tag">{content.tag}</p>
            <p class="news_pubwrapper">
              <span class="news_pub">{content.publishedAt.substring(0, 10)}</span>
              <span>~</span>
              <span class="news_end">{content.end}</span>
            </p>
          </div>
          <h4 class="news_title">{content.title}</h4>
          <div class="news_text" set:html={content.text} />
        </div>
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.96991 7.47007C10.1105 7.32962 10.3012 7.25073 10.4999 7.25073C10.6987 7.25073 10.8893 7.32962 11.0299 7.47007L15.0299 11.4701C15.1704 11.6107 15.2492 11.8013 15.2492 12.0001C15.2492 12.1988 15.1704 12.3894 15.0299 12.5301L11.0299 16.5301C10.9612 16.6038 10.8784 16.6629 10.7864 16.7039C10.6944 16.7448 10.5951 16.7669 10.4944 16.7687C10.3937 16.7704 10.2937 16.7519 10.2003 16.7142C10.1069 16.6765 10.0221 16.6203 9.95087 16.5491C9.87965 16.4779 9.82351 16.3931 9.78579 16.2997C9.74807 16.2063 9.72954 16.1063 9.73132 16.0056C9.73309 15.9048 9.75514 15.8055 9.79613 15.7135C9.83712 15.6215 9.89622 15.5387 9.96991 15.4701L13.4399 12.0001L9.96991 8.53007C9.82946 8.38945 9.75057 8.19882 9.75057 8.00007C9.75057 7.80132 9.82946 7.6107 9.96991 7.47007Z" fill="black"/>
        </svg>			
      </button>
    </li>
  ))}
</ul>

<style lang="scss">
  .news_list{
		width: 100%;
		margin-top: 24px;
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.news_item{
	}

	.news_btn{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 16px 24px;
		border-radius: 16px;
		background-color: #fff;
		cursor: pointer;
		box-shadow: 0px 0px 2px rgba($color: #252528, $alpha: 0.25);
		transition: all .3s;

		&:hover{
			transition: all .3s;
			background-color: #f2f2f3;
		}
	}

	.news_left{

		&_header{
			display: flex;
			gap: 16px;
			align-items: center;
		}
	}

	.news_tag{
		font-size: 12px;
		font-weight: 500;
		color: #66666d;
	}

	.news_pubwrapper{
		font-size: 12px;
		color: #66666d;
	}

	.news_pub{

	}

	.news_title{
		font-size: 14px;
		color: #252528;
		font-weight: 500;
		margin-top: 8px;
		line-height: 1.6;
	}

	.news_text{
		display: none;
	}
</style>
