---
import Welcome from '../../components/Welcome.astro';
import Layout from '../../layouts/Layout.astro';
import courses from '../../data/courses.json';

const mondayCourses = courses["Mon"];
const tueCourses = courses["Tue"];
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
  title='履修'
  headerTitle='履修'
>
  <div class="contents">
    <section class="box">
      <h3 class="section_title">履修選択</h3>
      <div class="help_box">
        <p class="box_label">ヘルプ</p>
        <ul class="help_box_list">
          <li class="help_box_item">
            <button class="help_box_close">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.46399 15.535L15.536 8.46497M8.46399 8.46497L15.536 15.535" stroke="#252528" stroke-width="1.5" stroke-linecap="round"/>
              </svg>	
            </button>
            <a href="/help" class="help_box_link">
              <p class="help_box_itemlabel">履修登録の仕方</p>
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.3534 7.64673C12.4465 7.74073 12.4988 7.86772 12.4988 8.00006C12.4988 8.1324 12.4465 8.25939 12.3534 8.35339L9.02004 11.6867C8.97427 11.7359 8.91907 11.7753 8.85773 11.8026C8.7964 11.8299 8.73019 11.8446 8.66305 11.8458C8.59592 11.847 8.52923 11.8346 8.46698 11.8095C8.40472 11.7843 8.34816 11.7469 8.30068 11.6994C8.2532 11.6519 8.21577 11.5954 8.19063 11.5331C8.16548 11.4709 8.15313 11.4042 8.15431 11.337C8.1555 11.2699 8.17019 11.2037 8.19752 11.1424C8.22485 11.081 8.26425 11.0258 8.31337 10.9801L10.7934 8.50006H4.00004C3.86743 8.50006 3.74025 8.44738 3.64649 8.35361C3.55272 8.25985 3.50004 8.13267 3.50004 8.00006C3.50004 7.86745 3.55272 7.74028 3.64649 7.64651C3.74025 7.55274 3.86743 7.50006 4.00004 7.50006H10.7934L8.31337 5.02006C8.22505 4.92528 8.17697 4.79991 8.17926 4.67038C8.18154 4.54084 8.23402 4.41725 8.32563 4.32565C8.41723 4.23404 8.54082 4.18156 8.67036 4.17928C8.79989 4.17699 8.92526 4.22507 9.02004 4.31339L12.3534 7.64673Z" fill="#252528"/>
              </svg>                    
            </a>
          </li>
          <li class="help_box_item">
            <button class="help_box_close">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.46399 15.535L15.536 8.46497M8.46399 8.46497L15.536 15.535" stroke="#252528" stroke-width="1.5" stroke-linecap="round"/>
              </svg>	
            </button>
            <a href="/help" class="help_box_link">
              <p class="help_box_itemlabel">履修登録の仕方</p>
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.3534 7.64673C12.4465 7.74073 12.4988 7.86772 12.4988 8.00006C12.4988 8.1324 12.4465 8.25939 12.3534 8.35339L9.02004 11.6867C8.97427 11.7359 8.91907 11.7753 8.85773 11.8026C8.7964 11.8299 8.73019 11.8446 8.66305 11.8458C8.59592 11.847 8.52923 11.8346 8.46698 11.8095C8.40472 11.7843 8.34816 11.7469 8.30068 11.6994C8.2532 11.6519 8.21577 11.5954 8.19063 11.5331C8.16548 11.4709 8.15313 11.4042 8.15431 11.337C8.1555 11.2699 8.17019 11.2037 8.19752 11.1424C8.22485 11.081 8.26425 11.0258 8.31337 10.9801L10.7934 8.50006H4.00004C3.86743 8.50006 3.74025 8.44738 3.64649 8.35361C3.55272 8.25985 3.50004 8.13267 3.50004 8.00006C3.50004 7.86745 3.55272 7.74028 3.64649 7.64651C3.74025 7.55274 3.86743 7.50006 4.00004 7.50006H10.7934L8.31337 5.02006C8.22505 4.92528 8.17697 4.79991 8.17926 4.67038C8.18154 4.54084 8.23402 4.41725 8.32563 4.32565C8.41723 4.23404 8.54082 4.18156 8.67036 4.17928C8.79989 4.17699 8.92526 4.22507 9.02004 4.31339L12.3534 7.64673Z" fill="#252528"/>
              </svg>                    
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="box box_register">
      <div class="box_header" id="box_header">
        <p class="box_label" id="box_label">履修登録</p>
        <div class="box_btns">
          <button class="box_btn" id="reset_btn">選択をリセット</button>
          <a href="/course/judge" class="box_btn" id="judge_btn">見込み判定</a>
        </div>
      </div>
      <nav class="tag">
        <ul class="tag_list">
          <li class="tag_item active">
            <button class="tag_btn active" id="tag_item">月曜</button>
          </li>
          <li class="tag_item">
            <button class="tag_btn" id="tag_item">火曜</button>
          </li>
          <li class="tag_item">
            <button class="tag_btn" id="tag_item">水曜</button>
          </li>
          <li class="tag_item">
            <button class="tag_btn" id="tag_item">木曜</button>
          </li>
          <li class="tag_item">
            <button class="tag_btn" id="tag_item">金曜</button>
          </li>
          <li class="tag_item">
            <button class="tag_btn" id="tag_item">土曜</button>
          </li>
        </ul>
      </nav>
      <div class="register_contents">
        <div class="register_box">
          <div class="time_list">
            <div class="time_item">
              <p class="time_period">1</p>
              <p class="time_number">9:00 - 10:00</p>
            </div>
            <div class="time_item">
              <p class="time_period">2</p>
              <p class="time_number">10:00 - 11:00</p>
            </div>
            <div class="time_item">
              <p class="time_period">3</p>
              <p class="time_number">11:00 - 12:00</p>
            </div>
            <div class="time_item">
              <p class="time_period">4</p>
              <p class="time_number">12:00 - 13:00</p>
            </div>
            <div class="time_item">
              <p class="time_period">5</p>
              <p class="time_number">13:00 - 14:00</p>
            </div>
            <div class="time_item">
              <p class="time_period">6</p>
              <p class="time_number">14:00 - 15:00</p>
            </div>
            <div class="time_item">
              <p class="time_period">7</p>
              <p class="time_number">15:00 - 16:00</p>
            </div>
            <div class="time_item">
              <p class="time_period">8</p>
              <p class="time_number">16:00 - 17:00</p>
            </div>
            <div class="time_item">
              <p class="time_period">9</p>
              <p class="time_number">17:00 - 18:00</p>
            </div>
            <div class="time_item">
              <p class="time_period">10</p>
              <p class="time_number">18:00 - 19:00</p>
            </div>
          </div>
          <div class="class_list" id="class_list">
            <button class="class_item" id="class_item">
              <!-- <h4 class="class_name">創造工学デザイン論</h4>
              <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.4417 10.058C15.5581 10.1756 15.6234 10.3343 15.6234 10.4997C15.6234 10.6651 15.5581 10.8239 15.4417 10.9414L11.275 15.108C11.2178 15.1694 11.1488 15.2187 11.0721 15.2529C10.9954 15.287 10.9127 15.3054 10.8288 15.3069C10.7448 15.3083 10.6615 15.2929 10.5837 15.2615C10.5058 15.23 10.4351 15.1833 10.3758 15.1239C10.3164 15.0646 10.2697 14.9939 10.2382 14.916C10.2068 14.8382 10.1914 14.7549 10.1928 14.6709C10.1943 14.587 10.2127 14.5043 10.2468 14.4276C10.281 14.3509 10.3303 14.2819 10.3917 14.2247L13.4917 11.1247H5C4.83424 11.1247 4.67526 11.0589 4.55805 10.9417C4.44084 10.8244 4.375 10.6655 4.375 10.4997C4.375 10.3339 4.44084 10.175 4.55805 10.0578C4.67526 9.94056 4.83424 9.87471 5 9.87471H13.4917L10.3917 6.77471C10.2813 6.65623 10.2212 6.49952 10.224 6.33761C10.2269 6.17569 10.2925 6.0212 10.407 5.90669C10.5215 5.79218 10.676 5.72659 10.8379 5.72373C10.9998 5.72087 11.1565 5.78098 11.275 5.89138L15.4417 10.058Z" fill="#252528"/>
              </svg>      -->
              <svg class="class_add" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 12.998H13V17.998C13 18.2633 12.8946 18.5176 12.7071 18.7052C12.5196 18.8927 12.2652 18.998 12 18.998C11.7348 18.998 11.4804 18.8927 11.2929 18.7052C11.1054 18.5176 11 18.2633 11 17.998V12.998H6C5.73478 12.998 5.48043 12.8927 5.29289 12.7052C5.10536 12.5176 5 12.2633 5 11.998C5 11.7328 5.10536 11.4785 5.29289 11.2909C5.48043 11.1034 5.73478 10.998 6 10.998H11V5.99805C11 5.73283 11.1054 5.47848 11.2929 5.29094C11.4804 5.1034 11.7348 4.99805 12 4.99805C12.2652 4.99805 12.5196 5.1034 12.7071 5.29094C12.8946 5.47848 13 5.73283 13 5.99805V10.998H18C18.2652 10.998 18.5196 11.1034 18.7071 11.2909C18.8946 11.4785 19 11.7328 19 11.998C19 12.2633 18.8946 12.5176 18.7071 12.7052C18.5196 12.8927 18.2652 12.998 18 12.998Z" fill="#66666D"/>
              </svg>                                                    
            </button>          
            <button class="class_item" id="class_item">
              <svg class="class_add" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 12.998H13V17.998C13 18.2633 12.8946 18.5176 12.7071 18.7052C12.5196 18.8927 12.2652 18.998 12 18.998C11.7348 18.998 11.4804 18.8927 11.2929 18.7052C11.1054 18.5176 11 18.2633 11 17.998V12.998H6C5.73478 12.998 5.48043 12.8927 5.29289 12.7052C5.10536 12.5176 5 12.2633 5 11.998C5 11.7328 5.10536 11.4785 5.29289 11.2909C5.48043 11.1034 5.73478 10.998 6 10.998H11V5.99805C11 5.73283 11.1054 5.47848 11.2929 5.29094C11.4804 5.1034 11.7348 4.99805 12 4.99805C12.2652 4.99805 12.5196 5.1034 12.7071 5.29094C12.8946 5.47848 13 5.73283 13 5.99805V10.998H18C18.2652 10.998 18.5196 11.1034 18.7071 11.2909C18.8946 11.4785 19 11.7328 19 11.998C19 12.2633 18.8946 12.5176 18.7071 12.7052C18.5196 12.8927 18.2652 12.998 18 12.998Z" fill="#66666D"/>
              </svg>                                     
            </button>
            <button class="class_item" id="class_item">
              <svg class="class_add" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 12.998H13V17.998C13 18.2633 12.8946 18.5176 12.7071 18.7052C12.5196 18.8927 12.2652 18.998 12 18.998C11.7348 18.998 11.4804 18.8927 11.2929 18.7052C11.1054 18.5176 11 18.2633 11 17.998V12.998H6C5.73478 12.998 5.48043 12.8927 5.29289 12.7052C5.10536 12.5176 5 12.2633 5 11.998C5 11.7328 5.10536 11.4785 5.29289 11.2909C5.48043 11.1034 5.73478 10.998 6 10.998H11V5.99805C11 5.73283 11.1054 5.47848 11.2929 5.29094C11.4804 5.1034 11.7348 4.99805 12 4.99805C12.2652 4.99805 12.5196 5.1034 12.7071 5.29094C12.8946 5.47848 13 5.73283 13 5.99805V10.998H18C18.2652 10.998 18.5196 11.1034 18.7071 11.2909C18.8946 11.4785 19 11.7328 19 11.998C19 12.2633 18.8946 12.5176 18.7071 12.7052C18.5196 12.8927 18.2652 12.998 18 12.998Z" fill="#66666D"/>
              </svg>                                  
            </button>
            <button class="class_item" id="class_item">
              <svg class="class_add" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 12.998H13V17.998C13 18.2633 12.8946 18.5176 12.7071 18.7052C12.5196 18.8927 12.2652 18.998 12 18.998C11.7348 18.998 11.4804 18.8927 11.2929 18.7052C11.1054 18.5176 11 18.2633 11 17.998V12.998H6C5.73478 12.998 5.48043 12.8927 5.29289 12.7052C5.10536 12.5176 5 12.2633 5 11.998C5 11.7328 5.10536 11.4785 5.29289 11.2909C5.48043 11.1034 5.73478 10.998 6 10.998H11V5.99805C11 5.73283 11.1054 5.47848 11.2929 5.29094C11.4804 5.1034 11.7348 4.99805 12 4.99805C12.2652 4.99805 12.5196 5.1034 12.7071 5.29094C12.8946 5.47848 13 5.73283 13 5.99805V10.998H18C18.2652 10.998 18.5196 11.1034 18.7071 11.2909C18.8946 11.4785 19 11.7328 19 11.998C19 12.2633 18.8946 12.5176 18.7071 12.7052C18.5196 12.8927 18.2652 12.998 18 12.998Z" fill="#66666D"/>
              </svg>                                  
            </button>
            <button class="class_item">
              <svg class="class_add" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 12.998H13V17.998C13 18.2633 12.8946 18.5176 12.7071 18.7052C12.5196 18.8927 12.2652 18.998 12 18.998C11.7348 18.998 11.4804 18.8927 11.2929 18.7052C11.1054 18.5176 11 18.2633 11 17.998V12.998H6C5.73478 12.998 5.48043 12.8927 5.29289 12.7052C5.10536 12.5176 5 12.2633 5 11.998C5 11.7328 5.10536 11.4785 5.29289 11.2909C5.48043 11.1034 5.73478 10.998 6 10.998H11V5.99805C11 5.73283 11.1054 5.47848 11.2929 5.29094C11.4804 5.1034 11.7348 4.99805 12 4.99805C12.2652 4.99805 12.5196 5.1034 12.7071 5.29094C12.8946 5.47848 13 5.73283 13 5.99805V10.998H18C18.2652 10.998 18.5196 11.1034 18.7071 11.2909C18.8946 11.4785 19 11.7328 19 11.998C19 12.2633 18.8946 12.5176 18.7071 12.7052C18.5196 12.8927 18.2652 12.998 18 12.998Z" fill="#66666D"/>
              </svg>                                   
            </button>
            <button class="class_item">
              <svg class="class_add" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 12.998H13V17.998C13 18.2633 12.8946 18.5176 12.7071 18.7052C12.5196 18.8927 12.2652 18.998 12 18.998C11.7348 18.998 11.4804 18.8927 11.2929 18.7052C11.1054 18.5176 11 18.2633 11 17.998V12.998H6C5.73478 12.998 5.48043 12.8927 5.29289 12.7052C5.10536 12.5176 5 12.2633 5 11.998C5 11.7328 5.10536 11.4785 5.29289 11.2909C5.48043 11.1034 5.73478 10.998 6 10.998H11V5.99805C11 5.73283 11.1054 5.47848 11.2929 5.29094C11.4804 5.1034 11.7348 4.99805 12 4.99805C12.2652 4.99805 12.5196 5.1034 12.7071 5.29094C12.8946 5.47848 13 5.73283 13 5.99805V10.998H18C18.2652 10.998 18.5196 11.1034 18.7071 11.2909C18.8946 11.4785 19 11.7328 19 11.998C19 12.2633 18.8946 12.5176 18.7071 12.7052C18.5196 12.8927 18.2652 12.998 18 12.998Z" fill="#66666D"/>
              </svg>                                      
            </button>
            <button class="class_item">
              <svg class="class_add" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 12.998H13V17.998C13 18.2633 12.8946 18.5176 12.7071 18.7052C12.5196 18.8927 12.2652 18.998 12 18.998C11.7348 18.998 11.4804 18.8927 11.2929 18.7052C11.1054 18.5176 11 18.2633 11 17.998V12.998H6C5.73478 12.998 5.48043 12.8927 5.29289 12.7052C5.10536 12.5176 5 12.2633 5 11.998C5 11.7328 5.10536 11.4785 5.29289 11.2909C5.48043 11.1034 5.73478 10.998 6 10.998H11V5.99805C11 5.73283 11.1054 5.47848 11.2929 5.29094C11.4804 5.1034 11.7348 4.99805 12 4.99805C12.2652 4.99805 12.5196 5.1034 12.7071 5.29094C12.8946 5.47848 13 5.73283 13 5.99805V10.998H18C18.2652 10.998 18.5196 11.1034 18.7071 11.2909C18.8946 11.4785 19 11.7328 19 11.998C19 12.2633 18.8946 12.5176 18.7071 12.7052C18.5196 12.8927 18.2652 12.998 18 12.998Z" fill="#66666D"/>
              </svg>                              
            </button>
            <button class="class_item">
              <svg class="class_add" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 12.998H13V17.998C13 18.2633 12.8946 18.5176 12.7071 18.7052C12.5196 18.8927 12.2652 18.998 12 18.998C11.7348 18.998 11.4804 18.8927 11.2929 18.7052C11.1054 18.5176 11 18.2633 11 17.998V12.998H6C5.73478 12.998 5.48043 12.8927 5.29289 12.7052C5.10536 12.5176 5 12.2633 5 11.998C5 11.7328 5.10536 11.4785 5.29289 11.2909C5.48043 11.1034 5.73478 10.998 6 10.998H11V5.99805C11 5.73283 11.1054 5.47848 11.2929 5.29094C11.4804 5.1034 11.7348 4.99805 12 4.99805C12.2652 4.99805 12.5196 5.1034 12.7071 5.29094C12.8946 5.47848 13 5.73283 13 5.99805V10.998H18C18.2652 10.998 18.5196 11.1034 18.7071 11.2909C18.8946 11.4785 19 11.7328 19 11.998C19 12.2633 18.8946 12.5176 18.7071 12.7052C18.5196 12.8927 18.2652 12.998 18 12.998Z" fill="#66666D"/>
              </svg>                               
            </button>
            <button class="class_item">
              <svg class="class_add" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 12.998H13V17.998C13 18.2633 12.8946 18.5176 12.7071 18.7052C12.5196 18.8927 12.2652 18.998 12 18.998C11.7348 18.998 11.4804 18.8927 11.2929 18.7052C11.1054 18.5176 11 18.2633 11 17.998V12.998H6C5.73478 12.998 5.48043 12.8927 5.29289 12.7052C5.10536 12.5176 5 12.2633 5 11.998C5 11.7328 5.10536 11.4785 5.29289 11.2909C5.48043 11.1034 5.73478 10.998 6 10.998H11V5.99805C11 5.73283 11.1054 5.47848 11.2929 5.29094C11.4804 5.1034 11.7348 4.99805 12 4.99805C12.2652 4.99805 12.5196 5.1034 12.7071 5.29094C12.8946 5.47848 13 5.73283 13 5.99805V10.998H18C18.2652 10.998 18.5196 11.1034 18.7071 11.2909C18.8946 11.4785 19 11.7328 19 11.998C19 12.2633 18.8946 12.5176 18.7071 12.7052C18.5196 12.8927 18.2652 12.998 18 12.998Z" fill="#66666D"/>
              </svg>                                 
            </button>
          </div>
        </div>
        <div class="register_modal dis-none" id="register_modal">
          <div class="register_modal_back" id="register_modal_back"></div>
          <div class="register_modal_contents">
            <p class="register_modal_label">月曜の授業</p>
      <ul class="register_modal_list">
        {tueCourses.length > 0 ? (
          tueCourses.map(course => (
            <li class="register_modal_item" id="register_modal_item">
              <button class="register_modal_btn">
                <p class="register_modal_period">{course.period}</p>
                <div class="register_modal_box">
                  <h4 class="register_modal_class_name">{course.name}</h4>
                  <div class="register_modal_details">
                    <p class="register_modal_text">{course.location}</p>
                    <p class="register_modal_text">{course.teacher}</p>
                    <p class="register_modal_text">{course.credits}</p>
                  </div>
                </div>
              </button>
              <button class="register_modal_detail_btn">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.33333 9.16667H15M8.33333 11.6667H11.6667M8.33333 6.66667H15M16.6667 18.3333H7C4.51667 18.3333 2.5 16.3167 2.5 13.8333V4.16667M7 2.5H16.3333C16.596 2.5 16.856 2.55173 17.0987 2.65224C17.3414 2.75275 17.5618 2.90007 17.7475 3.08579C17.9333 3.2715 18.0806 3.49198 18.1811 3.73463C18.2816 3.97728 18.3333 4.23736 18.3333 4.5V13.8333C18.3333 14.3638 18.1226 14.8725 17.7475 15.2475C17.3725 15.6226 16.8638 15.8333 16.3333 15.8333H7C6.73736 15.8333 6.47728 15.7816 6.23463 15.6811C5.99198 15.5806 5.7715 15.4333 5.58579 15.2475C5.21071 14.8725 5 14.3638 5 13.8333V4.5C5 4.23736 5.05173 3.97728 5.15224 3.73463C5.25275 3.49198 5.40007 3.2715 5.58579 3.08579C5.96086 2.71071 6.46957 2.5 7 2.5Z" stroke="#252528" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                  
              </button>
            </li>
          ))
        ) : (
          <p class="no_classes">この曜日の授業はありません</p>
        )}
      </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="box box_detail">
      <p class="box_label">取得単位</p>
      <div class="detail_contents">
        <div class="detail_box_total">
          <p class="detail_box_total_label">総取得単位</p>
          <div class="detail_box_total_numberbox">
            <p class="detail_box_total_numberwrapper">
              <span class="detail_box_total_number">22</span>
              <span>/</span>
              <span>124</span>
            </p>
            <!-- <div class="detail_box_total_change">
              <div class="detail_box_total_change_icon">
                <svg width="14" height="14" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.3134 9.47995C10.3592 9.43083 10.4144 9.39143 10.4757 9.3641C10.537 9.33677 10.6032 9.32208 10.6704 9.32089C10.7375 9.31971 10.8042 9.33206 10.8665 9.3572C10.9287 9.38235 10.9853 9.41978 11.0328 9.46726C11.0802 9.51474 11.1177 9.57129 11.1428 9.63355C11.168 9.69581 11.1803 9.7625 11.1791 9.82963C11.1779 9.89677 11.1632 9.96298 11.1359 10.0243C11.1086 10.0856 11.0692 10.1408 11.0201 10.1866L8.35339 12.8533C8.25964 12.9469 8.13256 12.9995 8.00006 12.9995C7.86756 12.9995 7.74048 12.9469 7.64673 12.8533L4.98006 10.1866C4.93094 10.1408 4.89153 10.0856 4.86421 10.0243C4.83688 9.96298 4.82218 9.89677 4.821 9.82963C4.81982 9.7625 4.83216 9.69581 4.85731 9.63355C4.88246 9.57129 4.91989 9.51474 4.96737 9.46726C5.01485 9.41978 5.0714 9.38235 5.13366 9.3572C5.19592 9.33206 5.26261 9.31971 5.32974 9.32089C5.39688 9.32208 5.46309 9.33677 5.52442 9.3641C5.58575 9.39143 5.64095 9.43083 5.68673 9.47995L7.50006 11.2933V4.83329C7.50006 4.70068 7.55274 4.5735 7.64651 4.47973C7.74028 4.38596 7.86745 4.33329 8.00006 4.33329C8.13267 4.33329 8.25985 4.38596 8.35361 4.47973C8.44738 4.5735 8.50006 4.70068 8.50006 4.83329V11.2933L10.3134 9.47995Z" fill="#fff"/>
                  </svg>                    
              </div>
              <p class="detail_box_total_change_number">
                <span>+</span>
                <span>20</span>
              </p>
            </div> -->
          </div>
        </div>
        <div class="detail_box_expranation">
          <div class="detail_box_expranation_item">
            <div class="item_left"></div>
            <p class="item_label">取得済み単位</p>
          </div>
          <!-- <div class="detail_box_expranation_item">
            <div class="item_left up"></div>
            <p class="item_label">見込み増加単位</p>
          </div> -->
        </div>
        <ul class="detail_box_list">
          <li class="detail_box_item">
            <p class="detail_box_item_Label">専門科目</p>
            <div class="detail_box_item_progresswrapper">
              <div class="detail_box_item_progress progress1"></div>
              <!-- <div class="detail_box_item_change change1"></div> -->
            </div>
            <p class="detail_box_item_number">22/84</p>
            <!-- <p class="detail_box_item_change_number">
              <span>+</span>
              <span>20</span>
            </p> -->
          </li>
          <li class="detail_box_item">
            <p class="detail_box_item_Label">教養科目</p>
            <div class="detail_box_item_progresswrapper">
              <div class="detail_box_item_progress progress2"></div>
              <!-- <div class="detail_box_item_change change2"></div> -->
            </div>
            <p class="detail_box_item_number">20/36</p>
            <!-- <p class="detail_box_item_change_number">
              <span>+</span>
              <span>20</span>
            </p> -->
          </li>
    
          <ul class="detail_box_item_list">
            <li class="detail_box_item">
              <p class="detail_box_item_label">Cスキル(必)</p>
              <div class="detail_box_item_progresswrapper">
                <div class="detail_box_item_progress progress3"></div>
                <!-- <div class="detail_box_item_change change3"></div> -->
              </div>
              <p class="detail_box_item_number">1/1</p>
              <!-- <p class="detail_box_item_change_number">
                <span></span>
                <span></span>
              </p> -->
            </li>
            <li class="detail_box_item">
              <p class="detail_box_item_label">Cスキル(選)</p>
              <div class="detail_box_item_progresswrapper">
                <div class="detail_box_item_progress progress4"></div>
                <!-- <div class="detail_box_item_change change4"></div> -->
              </div>
              <p class="detail_box_item_number">4/6</p>
              <!-- <p class="detail_box_item_change_number">
                <span>+</span>
                <span>20</span>
              </p> -->
            </li>
            <li class="detail_box_item">
              <p class="detail_box_item_label">情報(L)</p>
              <div class="detail_box_item_progresswrapper">
                <div class="detail_box_item_progress progress5"></div>
                <!-- <div class="detail_box_item_change change5"></div> -->
              </div>
              <p class="detail_box_item_number">2/2</p>
              <!-- <p class="detail_box_item_change_number"> -->
                <!-- <span></span>
                <span></span>
              </p> -->
            </li>
            <li class="detail_box_item">
              <p class="detail_box_item_label">人間力</p>
              <div class="detail_box_item_progresswrapper">
                <div class="detail_box_item_progress progress6"></div>
                <!-- <div class="detail_box_item_change change6"></div> -->
              </div>
              <p class="detail_box_item_number">6/6</p>
              <!-- <p class="detail_box_item_change_number">
                <span>+</span>
                <span>20</span>
              </p> -->
            </li>
            <li class="detail_box_item">
              <p class="detail_box_item_label">国際理解(必)</p>
              <div class="detail_box_item_progresswrapper">
                <div class="detail_box_item_progress progress7"></div>
                <!-- <div class="detail_box_item_change change7"></div> -->
              </div>
              <p class="detail_box_item_number">3/6</p>
              <!-- <p class="detail_box_item_change_number">
                <span>+</span>
                <span>20</span>
              </p> -->
            </li>
            <li class="detail_box_item">
              <p class="detail_box_item_label">国際理解(選必)</p>
              <div class="detail_box_item_progresswrapper">
                <div class="detail_box_item_progress progress8"></div>
                <!-- <div class="detail_box_item_change change8"></div> -->
              </div>
              <p class="detail_box_item_number">0/2</p>
              <!-- <p class="detail_box_item_change_number">
                <span></span>
                <span></span>
              </p> -->
            </li>
            <li class="detail_box_item">
              <p class="detail_box_item_label">人社自(学指定1)</p>
              <div class="detail_box_item_progresswrapper">
                <div class="detail_box_item_progress progress9"></div>
                <!-- <div class="detail_box_item_change change9"></div> -->
              </div>
              <p class="detail_box_item_number">2/6</p>
              <!-- <p class="detail_box_item_change_number">
                <span></span>
                <span></span>
              </p> -->
            </li>
            <li class="detail_box_item">
              <p class="detail_box_item_label">人社自(学指定1)</p>
              <div class="detail_box_item_progresswrapper">
                <div class="detail_box_item_progress progress10"></div>
                <!-- <div class="detail_box_item_change change10"></div> -->
              </div>
              <p class="detail_box_item_number">0/4</p>
              <!-- <p class="detail_box_item_change_number">
                <span></span>
                <span></span>
              </p> -->
            </li>
            <li class="detail_box_item">
              <p class="detail_box_item_label">総合(選必)</p>
              <div class="detail_box_item_progresswrapper">
                <div class="detail_box_item_progress progress11"></div>
                <!-- <div class="detail_box_item_change change11"></div> -->
              </div>
              <p class="detail_box_item_number">1/2</p>
              <!-- <p class="detail_box_item_change_number">
                <span>+</span>
                <span>20</span>
              </p> -->
            </li>
            <li class="detail_box_item">
              <p class="detail_box_item_label">教養特別(選必)</p>
              <div class="detail_box_item_progresswrapper">
                <div class="detail_box_item_progress progress12"></div>
                <!-- <div class="detail_box_item_change change12"></div> -->
              </div>
              <p class="detail_box_item_number">1/1</p>
              <!-- <p class="detail_box_item_change_number">
                <span>+</span>
                <span>20</span>
              </p> -->
            </li>
          </ul>
        </ul>
        <!-- <div class="detail_box_slash"></div> -->
      </div>
    </section>
  </div>
</Layout>

<style lang="scss">
  .contents{
    padding-bottom: 160px;
    min-height: 100dvh;

		@media (width >= 1920px) {
			padding-inline: 16px;
		}
  }

  .box{
    margin-top: 40px;

    @media (width < 768px) {
      margin-top: 24px;
    }


    &_register{

      @media (width < 1080px) {
		  }
    }

    &_detail{
      margin-top: 40px;
      padding-top: 40px;
      border-top: 1px solid #dadae3;
    }

    &_header{
      position: sticky;
      top: 40px;
      display: flex;
      align-items: center;
      z-index: 2;

      @media (width < 1080px) {
        top: 80px;
		  }

      @media (width < 414px) {
        // flex-direction: column;
        // align-items: baseline;
        // gap: 16px;
		  }
    }

    &_label{
      font-size: 14px;
      color: #66666d;
      font-weight: 400;
      flex: 1;
    }

    &_btns{
      display: flex;
      align-items: center;
      align-self: flex-end;
      margin-right: 0;
      margin-left: auto;
      gap: 8px;

      >.reset{
        background-color: #6161DA;
      }

      >.judge{
        background-color: #F88B17;
      }
    }

    &_btn{
      padding: 16px 32px;
      background-color: #dadae3;
      border-radius: 100px;
      color: #fff;
      font-size: 12px;

      @media (width < 414px) {
        padding: 16px 24px;
		  }
    }
  }

  .tag{
		margin-top: 16px;
		display: flex;
		gap: 8;
		align-items: center;
    overflow-x: scroll;
  
    &::-webkit-scrollbar{
      display: none;
    }

    @media (width < 414px) {
      margin-top: 24px;
		}

		&_list{
			display: flex;
			align-items: center;
			gap: 8px;
		}

		&_item{
			font-size: 12px;
			color: #66666d;
			font-weight: 500;

			>.active{
				color: #fff;
				background-color: #252528;
			}
		}

		&_btn{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 56px;
			height: 36px;
			border-radius: 100px;

      @media (width < 414px) {
        width: 56px;
        height: 44px;
      }
		}
	}

  .section_title{
		font-size: 24px;
		font-weight: 600;
		color: #252528;

    @media (width < 768px) {
      font-size: 20px;
    }

	}

  .help_box{
    margin-top: 32px;
    
    @media (width < 768px) {
      display: none;
		}

    &_list{
      margin-top: 16px;
      display: flex;
      gap: 16px;
      align-items: center;
    }

    &_item{
      display: flex;
      align-items: center;
      border-radius: 100px;
      border: 1px solid #66666d;
      padding: 0 8px;
    }

    &_close{
      padding: 0 8px;
      border-right: 1px solid #dadae3;
    }

    &_link{
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 16px 16px;
    }

    &_itemlabel{
      font-size: 12px;
      font-weight: 400;
      color: #252528;
    }
  }

  .detail_contents{
    position: relative;
    margin-top: 24px;

    @media (width < 768px) {
		}

    // &::after{
    //   content: "";
    //   position: absolute;
    //   left: 50%;
    //   transform: translateX(-50%);
    //   width: 1px;
    //   height: 100%;
    //   background-color: #dadae3;

    //   @media (width < 768px) {
    //     width: 80%;
    //     left: 50%;
    //     height: 1px;
    //     top: 50%;
    //     transform: translateX(-50%) translateY(-50%);
		//   }
    // }
  }

  .detail_box{
    &_expranation{
      margin-top: 24px;
      display: flex;
      align-items: center;
      gap: 24px;

      @media (width < 414px) {
        margin-top: 16px;
        gap: 16px;
		  }

      &_item{
        display: flex;
        align-items: center;
        gap: 8px;

        >.item_left{
          width: 80px;
          height: 4px;
          border-radius: 100px;
          background-color: #6161DA;

          @media (width < 414px) {
            width: 40px;
		      }
        }
        >.up{
          background-color: #4FDC3F;
        }
        >.item_label{
          font-size: 12px;
          color: #66666d;
          font-weight: 400;

          @media (width < 414px) {
            font-size: 10px;
		    } 
        }
      }
    }

    &_total{
      width: 100%;
      padding: 24px 24px;
      background-color: #fff;
      border-radius: 16px;
      border: 1px solid #dadae3;

      @media (width <= 414px) {
        display: flex;
        align-items: end;
        justify-content: space-between;
        padding: 24px 16px 16px;
		  }

      &_label{
        font-size: 14px;
        font-weight: 400;
        color: #66666d;

        @media (width < 414px) {
          font-size: 12px;
		    }
      }

      &_numberbox{
        display: flex;
        align-items: flex-end;
        gap: 16px;
        justify-content: right;
      }

      &_numberwrapper{
        margin-top: 16px;
        font-size: 16px;
        font-weight: 500;
        color: #66666d;
        text-align: right;
        @media (width <= 414px) {
          margin-top: 8px;
          font-size: 12px;
		    }
      }

      &_number{
        font-size: 32px;
        color: #252528;

        @media (width <= 414px) {
          font-size: 28px;
		    }
      }

      &_change{
        display: flex;
        align-items: center;
        gap: 4px;
        // margin-bottom: 2px;

        &_icon{
          display: flex;
          align-items: center;
          justify-content: center;
          transform: rotate(210deg);
          width: 20px;
          height: 20px;
          border-radius: 100px;
          background-color: #4FDC3F;

          @media (width <= 414px) {
            width: 16px;
            height: 16px;
		      }
        }

        &_number{
          color: #4FDC3F;
          font-weight: 500;

          @media (width <= 414px) {
            font-size: 12px;
		      }
        }
      }
    }

    &_list{
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin: 24px 24px 0;

      @media (width < 768px) {
        margin: 24px 8px 0;
		  }
      @media (width <= 414px) {
        gap: 12px;
        margin: 16px 4px 0;
		  }
    }

    &_item{
      display: flex;
      gap: 8px;
      align-items: center;

      &_label{
        width: 92px;
        font-size: 12px;
        font-weight: 400;
        color: #66666d;

        @media (width <= 414px) {
          width: 80px;
          font-size: 10px;
		    }
      }

      &_Label{
        font-size: 12px;
        font-weight: 400;
        color: #66666d;
      }

      &_progresswrapper{
        flex: 1;
        display: flex;
        align-items: center;
        height: 6px;
        background-color: #dadae3;
        border-radius: 100px;

        @media (width < 414px) {
          height: 4px;
		    }

        >.progress1{
          width: 20%;
          border-radius: 100px 0 0 100px;
        }
        >.change1{
          animation: change1 .3s ease-in-out forwards .2s;
          @keyframes change1 {
            0%{
              width: 0;
            }
            100%{
              width: 10%;
            }
          }
        }
        >.progress2{
          width: 30%;
          border-radius: 100px 0 0 100px;
        }
        >.change2{
          animation: change2 .3s forwards .25s;
          @keyframes change2 {
            0%{
              width: 0;
            }
            100%{
              width: 30%;
            }
          }
        }
        >.progress3{
          width: 100%;
        }
        >.change3{
          animation: change3 .3s forwards .3s;
          @keyframes change3 {
            0%{
              width: 0;
            }
            100%{
              width: 0;
            }
          }
        }
        >.progress4{
          width: 33%;
          border-radius: 100px 0 0 100px;
        }
        >.change4{
          animation: change4 .3s forwards .35s;
          @keyframes change4 {
            0%{
              width: 0;
            }
            100%{
              width: 33%;
            }
          }
        }
        >.progress5{
          width: 100%;
        }
        >.change5{
          animation: change5 .3s forwards .4s;
          @keyframes change5 {
            0%{
              width: 0;
            }
            100%{
              width: 0;
            }
          }
        }
        >.progress6{
          width: 33%;
          border-radius: 100px 0 0 100px;
        }
        >.change6{
          animation: change6 .3s forwards .45s;
          @keyframes change6 {
            0%{
              width: 0;
            }
            100%{
              width: 67%;
            }
          }
        }
        >.progress7{
          width: 16%;
          border-radius: 100px 0 0 100px;
        }
        >.change7{
          animation: change7 .3s forwards .5s;
          @keyframes change7 {
            0%{
              width: 0;
            }
            100%{
              width: 32%;
            }
          }
        }
        >.progress8{
          width: 0;
          border-radius: 100px 0 0 100px;
        }
        >.change8{
          animation: change8 .3s forwards .55s;
          @keyframes change8 {
            0%{
              width: 0;
            }
            100%{
              width: 0;
            }
          }
        }
        >.progress9{
          width: 33%;
        }
        >.change9{
          animation: change9 .3s forwards .6s;
          @keyframes change9 {
            0%{
              width: 0;
            }
            100%{
              width: 0;
            }
          }
        }
        >.progress10{
          width: 0;
          border-radius: 100px 0 0 100px;
        }
        >.change10{
          animation: change10 .3s forwards .65s;
          @keyframes change10 {
            0%{
              width: 0;
            }
            100%{
              width: 0;
            }
          }
        }
        >.progress11{
          width: 0;
          border-radius: 100px 0 0 100px;
        }
        >.change11{
          border-radius: 100px;
          animation: change11 .3s ease-out forwards .7s;
          @keyframes change11 {
            0%{
              width: 0;
            }
            100%{
              width: 50%;
            }
          }
        }
        >.progress12{
          width: 0;
          border-radius: 100px 0 0 100px;
        }
        >.change12{
          border-radius: 100px;
          animation: change12 .3s ease-out forwards .75s;
          @keyframes change12 {
            0%{
              width: 0;
            }
            100%{
              width: 100%;
            }
          }
        }
      }

      &_progress{
        // width: 100%;
        height: 100%;
        border-radius: 100px;
        background-color: #6161DA;
      }
      &_change{
        // width: 100%;
        height: 100%;
        border-radius: 0 100px 100px 0;
        background-color: #4FDC3F;
      }

      &_change_number{
        width: 24px;
        text-align: right;
        font-size: 12px;
        color: #4FDC3F;
        font-weight: 600;
      }

      &_number{
        font-size: 12px;
        font-weight: 500;
        color: #66666d;
      }

      &_list{
        margin-left: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        @media (width <= 414px) {
          gap: 12px;
          margin-left: 8px;
		    }
      }
    }
  }

  .register_contents{
    display: flex;
    gap: 16px;
    margin-top: 16px;
    
    @media (width < 768px) {
		}
  }

  .register_box{
    flex: 1;
    display: grid;
    grid-template-columns: auto 1fr; /* 左:右の比率 */
  }

  .register_modal{
    position: sticky;
    top: 120px;
    width: 30%;
    min-width: 300px;
    height: 100%;

    @media (width < 768px) {
      display: flex;
      align-items: flex-end;
      position: fixed;
      top: auto;
      bottom: 0;
      left: 0;
      width: 100%;
      min-width: none;
      height: 100%;
      z-index: 100;
		}

    &_back{
      display: none;
      
      @media (width < 768px) {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #252528;
        opacity: 0.2;
        z-index: -1;
      }
    }

    &_contents{

      @media (width < 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 60%;
        padding: 24px 16px;
        border-radius: 32px 32px 0 0 ;
        background-color: #f9f9f9;
      }
    }

    &_label{
      font-size: 14px;
      font-weight: 400;
      color: #66666d;
    }

    &_list{
      width: 100%;
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &_item{
      width: 100%;
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 12px 16px;
      border-radius: 16px;
      background-color: #fff;
      border: 1px solid #dadae3;
    }

    &_btn{
      display: flex;
      flex: 1;
      gap: 16px;
    }

    &_period{
      font-size: 12px;
      font-weight: 400;
      color: #66666d;
    }

    &_box{
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &_class_name{
      font-size: 14px;
      font-weight: 500;
      color: #252528;
    }

    &_details{
      display: flex;
      flex-direction: column;
      gap: 8px;
      font-size: 12px;
      font-weight: 400;
      color: #66666d;
    }

    &_detail_btn{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      border: 1px solid #66666d;
      border-radius: 16px;
    }
  }

  .time_list, .class_list {
    display: grid;
    grid-auto-rows: 1fr; /* 各行の高さを均等に */
    gap: 8px;
  }

  .time_item{
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    font-size: 14px;
    color: #66666d;

    @media (width < 414px) {
      font-size: 12px;
      padding: 8px 0;
      margin-right: 8px;
      align-items: baseline;
    }
  }

  .class_item{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    border-radius: 16px;
    background-color: #fff;
    font-size: 14px;
    box-shadow: 0px 0px 2px rgba($color: #252528, $alpha: 0.25);

    @media (width <= 414px) {
      font-size: 12px;
      padding: 12px 16px;
      border-radius: 20px;
    }
  }

  .class_none{
    background-color: #F9F9F9;
    box-shadow: none;
  }

  .class_name{
    font-size: 14px;
    font-weight: 500;
    color: #252528;
  }

  .class_add{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .dis-none{
    display: none;
  }

  .back-hover{
    background-color: #f2f2f3;
  }
  .back-active{
    background-color: #dadae3;
  }
</style>

<script>
  const register_modal = document.getElementById('register_modal')
  const reset_btn = document.getElementById('reset_btn')
  const judge_btn = document.getElementById('judge_btn')
  document.querySelectorAll('.class_item').forEach((class_item)=>{

    const reset_btn = document.getElementById('reset_btn')
    reset_btn?.addEventListener('click', () => {
      class_item.textContent = ""
      reset_btn?.classList.remove('reset')
      judge_btn?.classList.remove('judge')
    })

    const register_modal_back = document.getElementById('register_modal_back')
    register_modal_back?.addEventListener('click', () => {
      register_modal?.classList.add('dis-none')
    })

    class_item.addEventListener('click', () => {
      if (register_modal?.classList.contains('dis-none')) {
        register_modal.classList.remove('dis-none')
      }
    })

    class_item.addEventListener('mouseover', () => {
      class_item.classList.add('back-hover')
    })
    class_item.addEventListener('mouseleave', () => {
      class_item.classList.remove('back-hover')
    })

    document.querySelectorAll('#register_modal_item').forEach((register_modal_item) => {
      const register_class_name = register_modal_item.querySelector('.register_modal_class_name')?.textContent?.trim()
      console.log(register_class_name)
      register_modal_item.addEventListener('click', () => {
        if (class_item && register_class_name) {
          class_item.textContent = register_class_name
        }
        register_modal?.classList.add('dis-none')
        reset_btn?.classList.add('reset')
        judge_btn?.classList.add('judge')
      })
    })
  })

  const tag_btns = document.querySelectorAll('#tag_item')
	tag_btns.forEach((tag_btn_target) => {
		tag_btn_target.addEventListener('click', () => {
			tag_btns.forEach((tag_btn_all) => {
				tag_btn_all.classList.remove('active')
			})
			tag_btn_target.classList.add('active')
		})
		tag_btn_target.addEventListener('mouseover', () => {
			tag_btn_target.classList.add('tag_item_mouseover')
			tag_btn_target.classList.remove('tag_item_mouseleave')
		})
		tag_btn_target.addEventListener('mouseleave', () => {
			tag_btn_target.classList.remove('tag_item_mouseover')
			tag_btn_target.classList.add('tag_item_mouseleave')
		})
	})

  window.addEventListener('scroll', () => {
    const box_label = document.getElementById('box_label');
    const box_header = document.getElementById('box_header')
    const box_header_height = box_header?.getBoundingClientRect().top ?? 0;
    // console.log(box_header_height)

    if (window.innerWidth < 768) {
      if (box_header_height < 95) {
        box_label?.classList.add('dis-none');
      } else {
        box_label?.classList.remove('dis-none');
      }
    }

    if (window.innerWidth >= 768) {
      if (box_header_height < 125) {
        box_label?.classList.add('dis-none');
      } else {
        box_label?.classList.remove('dis-none');
      }
    }
  });


</script>
